.posicao-especial {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    padding: 10px;
    border-radius: 15px;
    font-size: 200%;
}

#estacoes {
    background-color: blue;
    color: white;
    position: absolute;
    top: 80px;
    right: 80px;
    z-index: 3;
}

#cookies {
    background-color: red;
    color: white;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 3;
}

.posicao-especial p, .posicao-especial ul {
    margin: 0;
}

#cookies p:last-child {
    text-align: center;
}

#cookies button {
    font-size: 100%;
    text-align: center;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #80c0ff;
    padding-left: 10px;
    padding-right: 10px;
}

.off1 {
    position: relative;
    top: 10px;
}

.off2 {
    position: relative;
    top: 10px;
    left: 10px;
}

.off3 {
    position: relative;
    bottom: 10px;
    right: 10px;
}

.baralho {
    margin-top: 30px;
}

.baralho li {
    position: relative;
    display: inline-block;
    width: 50px;
}

.baralho li img {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    border-radius: 20px;
}

.carta-selecionada {
    top: -30px;
}