h1 {
    font-weight: normal;
    margin: 0;
    border-style: solid;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    margin-bottom: 10px;
    line-height: 1em;
    clear: both;
    font-size: 80px;
    margin-top: 0.5em;
    margin-bottom: 0.2em;
    position: sticky;
    top: 0;
    z-index: 2;
}

h2, footer {
    font-size: 50px;
    margin: 0;
}

footer {
    text-align: center;
    font-size: 50px;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.versos h2 {
    text-align: right;
    float: right;
}

#posicionamento-com-css h1 {
    background-color: lime;
    border-color: black;
    color: black;
}

#posicionamento-com-css li, #posicionamento-com-css p {
    margin-top: 16px;
    margin-bottom: 16px;
}

#posicionamento-com-css strong {
    text-decoration: underline;
}

#branca-de-neve h1 {
    padding-top: 0.1em;
    background-color: rgb(255, 128, 255);
    border-color: rgb(255, 0, 255);
    color: white;
}

#os-tres-porquinhos h1 {
    background-color: rgb(255, 255, 0);
    border-color: rgb(128, 128, 0);
    color: black;
    padding-bottom: 0.1em;
}

#chapeuzinho-vermelho h1 {
    background-color: rgb(255, 128, 128);
    border-color: rgb(128, 0, 0);
    color: rgb(128, 0, 0);
    padding-bottom: 0.1em;
}

#anunciacao h1 {
    background-color: rgb(192, 255, 255);
    border-color: rgb(0, 128, 128);
    color: rgb(0, 128, 128);
    padding-bottom: 0.15em;
}

#andanca h1 {
    background-color: rgb(192, 128, 255);
    border-color: rgb(64, 0, 128);
    color: rgb(64, 0, 128);
    padding-bottom: 0.15em;
}

#pai-nosso h1 {
    background-image: url("../img/nuvens.avif");
    background-size: cover;
    border-color: rgb(0, 0, 128);
    color: white;
}

#dancing-queen h1 {
    background-color: black;
    border-color: rgb(255, 0, 255);
    color: rgb(255, 0, 255);
    padding-top: 0.1em;
    padding-bottom: 0.2em;
}

#bolo h1 {
    background-color: rgb(128, 64, 0);
    border-color: rgb(96, 48, 0);
    color: white;
    padding-top: 0.1em;
}

#tabela-periodica h1 {
    background-color: rgb(128, 255, 0);
    border-color: rgb(0, 128, 0);
    padding-top: 0.1em;
    padding-bottom: 0.2em;
    font-family: "Lobster";
    position: static;
}

#bad-romance h1 {
    background-color: pink;
    border-color: black;
    color: black;
    padding-top: 0.1em;
}

#bad-romance figure {
    position: sticky;
    top: 106px;
    z-index: 1;
}

#os-tres-porquinhos {
    font-family: "Slime Box";
}

#branca-de-neve {
    font-family: "Chopin Script";
}

#chapeuzinho-vermelho {
    font-family: "Fairy Playground";
}

#anunciacao {
    font-family: "Dancing Script";
}

#andanca {
    font-family: "Caveat";
}

#dancing-queen {
    font-family: "Rochester";
}

#bolo {
    font-family: "Seaweed Script";
}

#pai-nosso {
    font-family: "Cinzel";
}

#pai-nosso p {
    text-align: center;
}

#bad-romance {
    font-family: "Cyber Rock";
}

.estrofe:not(article > .estrofe:first-of-type) {
    margin-top: 2em;
}

.estrofe:not(article > .estrofe:last-of-type) {
    margin-bottom: 2em;
}

.conto > p:first-of-type {
    text-indent: 0;
}

.conto > p:first-of-type::first-letter {
    font-family: "Royal";
    font-size: 400%;
    font-weight: normal;
    line-height: 0.7em;
    margin-top: 0.2em;
    margin-bottom: -0.3em;
    display: inline-block;
    margin-left: 0;
}

.conto p {
    text-indent: 1.25cm;
}

article p, article li, nav li, pre {
    line-height: 1em;
    font-size: 200%;
    text-align: justify;
    margin: 0;
}

pre, .conto blockquote, code {
    border-style: solid;
    border-color: black;
    border-width: 1px;
    background-color: #eee;
    color: black;
}

pre, .conto blockquote {
    border-radius: 20px;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 16px;
}

pre {
    padding: 10px;
}

code {
    padding-left: 5px;
    padding-right: 5px;
}

.conto blockquote {
    position: relative;
    padding: 0 80px;
}

.conto blockquote::before, .conto blockquote::after {
    background-color: #ccc;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 1.3;
    font-size: 4em;
    border-radius: 100%;
    text-align: center;
    position: absolute;
    font-family: serif;
}

.conto blockquote::before {
    content: "“";
    top: 0;
    left: 0;
}

.conto blockquote::after {
    content: "”";
    bottom: 0;
    right: 0;
}

.conto blockquote p {
    text-indent: 0;
}

nav, article {
    margin-left: 20px;
    margin-right: 20px;
}