figure {
    display: table;
    float: right;
    margin-left: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 0;
    text-align: center;
    max-width: 400px;
    clear: right;
}

figure img {
    display: block;
    height: auto;
    margin: 0;
}

figure figcaption {
    display: table-caption;
    caption-side: bottom;
    font-family: Helvetica;
    font-size: 18pt;
    text-indent: 0;
    margin: 0;
}